<section id="main" class="container">
    
    <div id="stay-connected" class="center-block text-center">
        <h1 class="pmd-display2">Stay connect with CPG</h1>
        <div id="social-media">
            <a href="https://www.facebook.com/CrownProGaming/" target="_blank">
                <i id="facebook" class="zmdi zmdi-facebook zmdi-hc-3x"></i>
            </a>
            <a href="https://twitter.com/crownprogaming" target="_blank">
                <i id="twitter" class="zmdi zmdi-twitter zmdi-hc-3x"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC9-GWtWNDI5N_4YdAZDRKjA" target="_blank">
                <i id="youtube" class="zmdi zmdi-youtube zmdi-hc-3x"></i>
            </a>
            <a href="https://www.twitch.tv/crownprogaming" target="_blank">
                <i id="twitch" class="zmdi zmdi-twitch zmdi-hc-3x"></i>
            </a>
            <a href="https://github.com/crownprogaming" target="_blank">
                <i id="github" class="zmdi zmdi-github zmdi-hc-3x"></i>
            </a>         
        </div>
    </div>

    <div id="featured-video" class="center-block text-center">
        <h1 class="pmd-display2">Featured Video</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zwnbgFHS7S8" frameborder="0" allowfullscreen></iframe>
    </div>
    
    
</section>